// Visibility
.visible {
  &-s {
    @media (min-width: $screen-m) {
      display: none !important;
    }
  }
}

.hidden {
  &-s {
    @media (max-width: $screen-s) {
      display: none !important;
    }
  }
}

// Background Colors
.bg {
  &-light-brown { background-color: $light-brown  !important; }
  &-light-red   { background-color: $light-red    !important; }
  &-light-blue  { background-color: $light-blue   !important; }
  &-light-green { background-color: $light-green  !important; }
  &-yellow      { background-color: $yellow       !important; }
}

// Text Formatting
.txt {
  &-c { text-align: center; }
}

// Distances and Spacings
.m {
  &t20 { margin-top: 20px !important;}
  &y20 { margin: 20px 0   !important;}
}