// Icons
.icon {
  &-s {
    height: 22px;
    width: 22px;
  }
}

// Buttons
.scroll-top {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  height: 30px;
  width: 30px;
  background-image: url('../img/back-to-top.svg');
  background-size: 50%;
  border: 1px solid $secondary;
  border-radius: 2px;

  @media (min-width: $screen-m) {
    top: -50px;
  }
}

.input-submit {
  height: 40px;
  background-color: $background;
  font-weight: $font-weight-bold;
  padding: 0 10px;
  border: 1px solid $secondary;
  border-radius: 3px;
}