.experience {
  position: relative;
  margin: 20px 0;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 6px;
    background-color: #fff;
    border: 1px solid $primary;

    @media (max-width: $screen-s) {
      left: 10.5px;
    }

    @media (min-width: $screen-m) {
      margin-left: 1px;
    }
  }

  &-wrap {
    position: relative;
    padding: 0 25px 0 40px;

    @media (min-width: $screen-m) {
      width: 50%;
      padding: 0 20px 0 10px;
    }

    + .experience-wrap {
      margin-top: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 22px;
      left: 60px;
    }

    &.right {
      @media (min-width: $screen-m) {
        padding: 0 10px 0 30px;
      }
    }
  }

  &-content {
    position: relative;
    background-color: #fff;
    padding: 10px;
    border: 1px solid $secondary;

    &:after {
      content: '';
      position: absolute;
      top: 16px;
      left: -40px;
      z-index: 1;
      width: 25px;
      height: 25px;
      background-color: #fff;
      border: 4px solid $light-brown;
      border-radius: 50%;

      @media (min-width: $screen-m) {
        left: auto;
        right: -38px;
      }
    }
  }
}

.left {
  left: 0;

  &:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 1;
    height: 0;
    width: 0;
    border: medium solid $secondary;
    border-width: 10px 10px 10px 0;
    border-color: transparent $secondary transparent transparent;

    @media (min-width: $screen-m) {
      left: auto;
      right: 10px;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent $secondary;
    }
  }
}

.right {
  left: 0;

  @media (min-width: $screen-m) {
    left: 50%;
  }

  &:before {
    content: '';
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 1;
    height: 0;
    width: 0;
    border: medium solid $secondary;
    border-width: 10px 10px 10px 0;
    border-color: transparent $secondary transparent transparent;

    @media (min-width: $screen-m) {
      left: 20px;
      border-width: 10px 10px 10px 0;
      border-color: transparent $secondary transparent transparent;
    }
  }

  .experience-content {
    &:after {
      @media (min-width: $screen-m) {
        left: -39px;
      }
    }
  }
}