.main {
  position: relative;
  padding: 10px 10px 20px;

  @media (min-width: $screen-m) {
    display: flex;
    align-items: center;
    padding: 20px 10px;
  }
}

.headline {
  font-size: 18px;
  font-weight: $font-weight-bold;
  margin-bottom: 20px;

  @at-root {
    .exp {
      .headline {
        margin-bottom: 10px;

        @media (max-width: $screen-m-max) {
          font-size: 12px;
        }

        @media (min-width: $screen-l) {
          font-size: 14px;
        }
      }
    }
  }
}

.plain {
  font-size: 12px;

  @media (min-width: $screen-m) {
    font-size: 14px;
  }
}

.list {
  list-style-type: disc;
  padding-left: 20px;

  &__item {
    + .list__item {
      margin-top: 5px;
    }
  }
}